* {
    font-family: 'Montserrat', sans-serif !important;
}
p{
    text-align: justify;
}
.c-black {
    color: #000000;
}

.c-grey {
    color: #808080;
}

.c-white {
    color: #FFFFFF !important;
}

.f-mid {
    font-weight: 500;
}

.f-sm-bold {
    font-weight: 600;
}

.f-bold {
    font-weight: 700;
}

.mrg {
    margin: 15px;
}


/*INTRO*/

.intro {
    display: block;
    /* position: relative;*/
    background-image: url("../img-campionati/camp-clio/Copertina_ClioCup.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.social-img {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    width: 80%;
    top: 45vh;
}

.intro-mob {
    margin-top: 30vh;
}

.txt1 {
    font-size: 65px;
}

.txt2 {
    font-size: 32px;
}

/*ARROWS*/

.arrow {
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    bottom: 600px;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #808080;
    border-right: 3px solid #808080;
    transform: rotate(45deg);
    margin: -15px;
    animation: animate 1.5s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}


/* NAVBAR*/

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 5px;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin: 20px;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    color: #808080 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #BCBCBC !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    /*
        margin-top: 0; /*remove the gap so it doesn't close*/

}
/* span X section*/

.navbar-toggler {
    border: none;
    display: flex;
    flex-direction: column;
    background: transparent !important;
}
.navbar-toggler:focus{ text-decoration: none; outline: 0; box-shadow: 0 0 0 0;}

.navbar-toggler:hover {
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  width: 29px;
  transition: all 0.2s;
  margin: 3px;
  border: 1px solid #808080;
}

.navbar-toggler .top-bar {
  transform: translateX(3px) rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: translateX(3px) rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* MAIN CONTENT OF BODY */

main {
    margin-top: 100vh;
    padding-top: 50px;
    margin-bottom: 150px;
}

.podio {
    width: 100%;
    height: 100%;
}

.cl1, .cl2 {
    min-height: 300px;
    width: 100%;
}

.banner {
    width: 100%;
    margin-top: 100px;
}

/*
.back {
    background-image: url("../img-campionati/camp-clio/JELMINI_ClioCup.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
}

.pi-cards {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.pi-soc {
    display: flex;
    margin: 90vh 0vh 0vh 23vh;
    width: auto;
}
*/


.cont-card{
    margin-bottom: 100px;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.pi-card{
    background-image: url("../img-campionati/camp-clio/JELMINI_ClioCup.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;
    margin: 0 auto 0 auto;
    border-radius: 5px;
}

.pi-soc {
    display: flex;
    width: auto;
    justify-content: center;
    padding: 455px 0 0 0;
}


/* FOOTER*/

footer {
    min-height: 200px;
    background-color: #000000;
}

div.footer-content {
    padding-top: 20px;  
}

.social {
    padding-bottom: 20px;
}


@media (max-width: 575.98px) {

    section.social-img {
        display: none;
    }

    .footer-logo {
        width: 80px;
        height: 62px;
    }

    .podio {
        margin: 50px 0;
        width: 75%;
        height: 500px;
    }

    .cl1, .cl2 {
        min-height: 300px;
        width: 100%;
        padding-bottom: 50px !important;
    }

    .banner {
        width: 100%;
        margin-top: 50px;
    }

    .social-img {
        position: absolute;
        margin: 0 !important;
        padding: 0 !important;
        display: block;
        width: 80%;
        top: 65vh;
    }

    .item {
        order: 4;
    }
}


@media (min-width: 767.98px) {

    .intro-mob {
        margin-top: 50vh;
    }

    .txt1 {
        font-size: 68px;
    }

    .txt2 {

        font-size: 35px;
    }
}

@media (min-width: 991.98px) {
    .intro-mob, .txt1, .txt2 {
        display: none;
    }
}

@media (max-width: 991.98px) {

    nav.navbar {
        background-color: #000000;
    }

    /* .banner{ width: 100%; height: 120px !important;;}*/
    .item {
        order: 4;
    }

}

/*
@media (max-width: 1199.98px) {
    .banner{ width: 100%; height: 150px;}
}*/