* {font-family: 'Montserrat', sans-serif !important;}
.c-black{ color:#000000; }
.c-grey{ color: #808080; }
.c-white{ color: #FFFFFF !important; }
.f-mid{ font-weight: 500; }
.f-sm-bold{ font-weight: 600; }
.f-bold{ font-weight: 700; }
.mrg { margin:15px; }


/* NAVBAR*/

.mobile-logo{ display: none !important; }

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 5px;
    list-style: none;
}

.navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
    margin: 20px;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    color: #808080 !important;
}

.navbar-light .navbar-nav .nav-link { color: #FFFFFF; }
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { color: #BCBCBC; }


/*JUMBOTRON*/
.jumbotron{
  position: absolute;
  background-image: url("img-team/cover_team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
}

.social-img{
  /*display: block;*/
  position: absolute;
  display: flex;
  justify-content: flex-start;
}



/*ARROWS*/
.arrow{
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    bottom: 600px;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #808080;
    border-right: 3px solid #808080;
    transform: rotate(45deg);
    margin: -15px;
    animation: animate 1.5s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate { 0%{ opacity: 0; transform: rotate(45deg) translate(-20px,-20px);} }

.social-img{ margin-top: 220px; position: absolute;}

/* MAIN CONTENT OF BODY */

.main-content{
  padding-top: 50px;
  margin-top: 600px;
  margin-bottom: 150px;
}
.photo-team{
  background-image: url("img-team/FOTO4_TEAM.jpg");
  background-color: #cccccc;
  height: 420px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

}
.services{
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #F1F1F1;/*
  min-height: 700px !important;*/

}


/* FOOTER*/

footer { min-height: 200px; background-color: #000000;}
div.footer-content{ padding-top: 20px; }
.social{ padding-bottom: 20px; }


@media (max-width: 575.98px){

  nav.navbar { background-color: #000000; }
  .jumbotron, .jumbo-mob, .arrow, footer h10, .photo-team, section.social-img{ display: none; }
  .main-content{
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .footer-logo{
      width: 80px !important;
      height: 62px !important;
  }
    /*
  .main-content{
    padding-top: 50px;
    margin-bottom: 100px;
  }*/

/*
  .jumbo-mob{
    position: absolute;
    display: block;
    background-image: url("img-basic/background-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
  }
*//*
  .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
    color: #808080 !important;
}*/

  /*
  .social-img{
    position: absolute;
    display: flex;
    justify-content: flex-end;
  }*/
    /*
  .row-reverse{
    display: flex !important;
    flex-direction: column-reverse !important;
    }*/

  .col-caro{
    margin-top: 50px;
  }


}


@media (max-width: 767.98px){
  .social-img{
    /*display: block;*/
    position: absolute;
    display: flex;
    justify-content: flex-end;
  }
  .row-reverse{
    display: flex !important;
    flex-direction: column-reverse !important;
    }
}

@media (max-width: 991.98px){
  .mobile-logo{ display: block !important; }
  .main-logo{ display: none; }
}
 /*xs: 0,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px
 )
 // X-Small devices (portrait phones, less than 576px)
 // No media query for `xs` since this is the default in Bootstrap

 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/
